@import '~/src/styles/mixins';
@import '~/src/styles/default';

.container {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 16px;
}

.constructor {
  &__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}