.container {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 16px;
}

.profile {
  &__container {
    display: flex;
    gap: 60px;
  }
  &__aside {
    width: 100%;
    max-width: 320px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 64px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__txt {
    opacity: 0.4;
  }
  &__content {
    form {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.active {
  color: var(--text-primary-color);
  pointer-events: none;
}