.header {
  background: var(--background);
  &__menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__item {
    color: var(--text-inactive-color);
    transition: color 0.3s ease-out;
    path {
      transition: fill 0.3s ease-out;
    }
    a {
      display: flex;
      align-items: center;
      gap: 8px;
      &:hover {
        cursor: pointer;
      }
    }
    &:last-child {
      margin-left: auto;
    }
  }
  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.active {
  color: var(--text-primary-color);
  pointer-events: none;
}

.container {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 16px;
}